html, body{
    margin: 0;
    padding: 0;
    position: relative;
}

body{
    height: 100vh;
}

* {
    box-sizing: border-box;
}

.card-item{
    background-color: #F0F1C9;
}

.card-message{
    position: relative;
}

.card-body-layout{
    position: absolute;
    top: 50%;
    left: 20%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.card-img{
   position: relative;
}

.card-title-layout{
    font-weight: bold;
    color: grey;
    font-size: 40px;
}

.card-text-layout{
    letter-spacing: 3px;
    font-family: Baloo, serif;
}

.card-date{
    font-size: 12px;
}

.card-header-index{
    /*font-weight: bolder;*/
    font-size: 22px;
}

.img-fluid{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    max-height: 200px;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.add-buttons{
    background-color: #212121;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

[placeholder]:focus::-webkit-input-placeholder {
    transition: text-indent 0.4s 0.4s ease;
    text-indent: -100%;
    opacity: 1;
}

input::placeholder{
    font-size: 15px;
}

.vertical-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;;
}

.table-div, .sites-box, .search-div{
    height: 500px;
    overflow-y: auto;
}

.form-div{
    margin: auto;
    /*width: 35%;*/
    background-color: #ffffff;
    padding: 10px;
    border: 1px solid #bdbdbd;
    border-radius: 10px;
}

.form-div-site{
    margin: auto;
    /*width: 35%;*/
    background-color: #ffffff;
    padding: 10px;
    border: 1px solid green;
    border-radius: 10px;
}

.form-title{
    display: block;
    font-family:  'Poppins', sans-serif;
    font-size: 39px;
    color: #333333;
    line-height: 1.2;
    text-align: center;
    padding-bottom: 30px;
    padding-top: 20px;
    font-weight: bold;
}

.form{
    margin-left: 20px;
    margin-right: 20px;
}

.details-label{
    color: #bdbdbd;
    font-size: 12px;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.footer-con{
    padding: 10px 10px 0px 10px;
    margin: auto;
    background: white;
}

.nav-footer {
    display: flex;
    list-style: none;
    padding-bottom: 20px;
}